.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(5, 1fr);
}

.item1 {
    grid-area: 1 / 1 / span 3 / span 1;
    text-align: center;
    background-color: lightblue;
}

.item2 {
    grid-area: 1 / 2 / span 2 / span 2;
    text-align: center;
    background-color: lightgreen;
}

.item3 {
    grid-area: 1 / 4 / span 2 / span 2;
    text-align: center;
    background-color: lightcoral;
}

.item4 {
    grid-area: 3 / 2 / span 1 / span 4;
    text-align: center;
    background-color: lightgoldenrodyellow;
}